@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: PoppinsB;
  src: url(fonts/Poppins/Poppins-SemiBold.ttf);
}
* {
  margin: 0 auto;
}
body {
  font-family: Poppins;
}
.h400 {
  height: 400px !important;
}
.w900 {
  width: 900px !important;
}
.dnone {
  display: none;
}
.buttonreparo {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  float: right;
}
.cuadro {
  width: 600px;
  height: 450px;
}
._dflex {
  display: flex;
}
.h1 {
  color: #fff;
  margin: 0;
  text-align: center;
  font-family: PoppinsB;
}
.contenedor {
  max-width: 1100px;
  margin: 0 auto;
  width: 90%;
}
img {
  max-width: 100%;
}
h2 {
  margin: 0;
  text-align: center;
  font-family: PoppinsB;
}
.site-header {
  height: auto;
  background-color: #181818;
  padding: 1rem 0;
}
.contenedor-logo {
  width: 320px;
  margin-bottom: 1rem;
}
.contenedor-sub-contacto {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: PoppinsB;
}
.contenedor-sub-contacto .icon {
  width: 20px;
  height: 20px;
  margin: 0 1rem;
}
.contenedor-sub-contacto-links {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}
.contenedor-sub-contacto-links .cont-d {
  margin: 0 !important;
}
.contenedor-sub-contacto-links .icon {
  width: 25px;
  height: 25px;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-sub-contacto-links a {
  margin: 0 1rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 22px;
}
@media (max-width: 586px) {
  .contenedor-sub-contacto-links {
    display: block;
  }
  .contenedor-sub-contacto-links a {
    font-size: 18px;
  }
  .contenedor-logo {
    width: 250px;
  }
}
section.carrusel {
  background-image: url(../img/_assets/main-slider-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 480px) {
  section.carrusel {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10%;
  }
}
.contenedor-carousel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}
.item-caro {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  height: 500px;
}
.item-caro ul {
  padding: 0;
  list-style: none;
}
.item-caro ul li {
  margin: 1.5rem 0;
  font-size: 18px;
}
.item-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedor-img {
  left: 10%;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 700px) {
  .contenedor-img {
    width: auto;
    height: auto;
  }
}
.img-promocion {
  width: 150px;
  height: 150px;
  top: 0;
  right: 150px;
}
.botoncito {
  background-color: #181818 !important;
  width: 20px !important;
  height: 20px !important;
  opacity: 1 !important;
}
.botoncito.active {
  background-color: #fff !important;
}
@media (max-width: 480px) {
  .contenedor-carousel {
    grid-template-columns: repeat(1, 1fr);
  }
  .item-caro {
    height: auto;
  }
  .item-caro:nth-of-type(2) {
    align-items: flex-start;
  }
  .item-caro:nth-of-type(4) {
    align-items: flex-start;
  }
  .contenedor-img {
    height: auto;
    padding: 2rem 0;
    margin-bottom: 2rem;
  }
  .item-caro ul {
    padding-top: 2rem;
  }
  .item-caro ul li {
    text-align: center;
  }
  .contenedor-img {
    width: auto;
  }
}
.mexicril {
  background-color: #181818;
  padding: 4rem 0;
}
.mexicril h2 {
  color: #fff;
}
.mexicril p {
  text-align: center;
  width: 65%;
  margin: 2rem auto;
  color: #fff;
}
.contenedor-imagenes-mexacril {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}
.contenedor-imagenes-mexacril .f-item {
  width: 350px;
  height: 350px;
  margin: 0;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  position: relative;
}
.f-item:nth-of-type(1) {
  white-space: nowrap;
  display: flex;
  position: relative;
}
.carrusel2 {
  width: 100%;
}
img.ct-p {
  height: 350px;
  border: 3px solid #fdbe11;
}
@media (max-width: 768px) {
  .f-item {
    margin: 0.3rem !important;
    width: 300px !important;
    height: 300px !important;
  }
  img.ct-p {
    height: 300px !important;
  }
}
@media (max-width: 480px) {
  .contenedor-imagenes-mexacril {
    display: block;
  }
  .f-item {
    margin: 3rem auto !important;
  }
  .mexicril p {
    width: 100%;
  }
}
.carousel-item.caru2 {
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  flex-wrap: nowrap;
}
.f-item.i2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
}
.f-item.i2 .item-image-2 {
  border: 3px solid #fdbe11;
  width: 100%;
  position: relative;
}
.item-image-2 img {
  height: 100%;
  position: absolute;
}
.cont-d {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont-d .envios {
  background-color: #fdbe11;
  text-align: center;
  padding: 1rem 3rem;
  border-radius: 20px;
  color: #181818;
  font-family: PoppinsB;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.envios .icon {
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
}
section.contacto {
  padding: 4rem 0;
  background: linear-gradient(#fec522, #fdbe11);
}
.contenedor-flex-contacto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 2rem 0;
}
.item-flex-contacto {
  width: 100%;
}
.item-flex-contacto form.contacto {
  position: relative;
  width: 400px;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
.contacto input {
  margin-bottom: 1.5rem;
  outline: 0;
}
.contacto input[type="text"] {
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  padding: 1rem 1rem;
  border-radius: 50px;
  border: 0;
}
.contacto input[type="email"] {
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  padding: 1rem 1rem;
  border-radius: 50px;
  border: 0;
}
.contacto input[type="tel"] {
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  padding: 1rem 1rem;
  border-radius: 50px;
  border: 0;
}
.contenedorSubmit {
  position: absolute;
  bottom: 100px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.contenedorSubmit input {
  margin: 0;
  width: 200px;
  height: 50px;
  background-color: #fff;
  border-radius: 50px;
  border: 0;
  font-family: PoppinsB;
}
.item-flex-contacto .contImage {
  width: 100%;
  width: 400px;
  position: relative;
}
.contImage .contenedorSubmit {
  justify-content: center;
}
.contImage .contenedorSubmit a {
  font-family: PoppinsB;
  margin: 0;
  padding: 0 1rem !important;
  width: 200px;
  height: 50px;
  background-color: #fff;
  border-radius: 50px;
  border: 0;
  color: #181818;
  text-decoration: none;
}
.contImage a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-flex-contacto .contImage img {
  max-width: 90%;
}
@media (max-width: 890px) {
  .contenedor-flex-contacto {
    grid-template-columns: repeat(1, 1fr);
  }
  form.contacto {
    width: 100% !important;
  }
  .contenedorSubmit.s1 {
    position: initial;
    margin-bottom: 2rem;
  }
  .contacto input[type="text"] {
    width: 90%;
  }
  .contacto input[type="email"] {
    width: 90%;
  }
  .contacto input[type="tel"] {
    width: 90%;
  }
}
@media (max-width: 480px) {
  .contenedor-flex-contacto {
    grid-template-columns: repeat(1, 1fr);
  }
  form.contacto {
    width: auto !important;
  }
  form.contacto p {
    text-align: center;
  }
  .contenedorSubmit.s1 {
    position: initial;
    margin-bottom: 2rem;
  }
  .contacto input[type="text"] {
    width: 100%;
  }
  .contacto input[type="email"] {
    width: 100%;
  }
  .contacto input[type="tel"] {
    width: 100%;
  }
  .item-flex-contacto .contImage {
    width: auto;
  }
}
section.taller {
  background-color: #181818;
  padding: 4rem 0;
}
section.taller h2 {
  color: #fff;
}
.taller p {
  text-align: center;
  width: 65%;
  margin: 2rem auto;
  color: #fff;
}
.flex-taller {
  margin-top: 3rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-taller {
  margin: 0 1.5rem !important;
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-taller img {
  height: 350px;
  width: 350px;
  border: 3px solid #fdbe11;
}
a.cita {
  margin: 2rem 0;
  background-color: #fdbe11;
  text-align: center;
  padding: 1rem 3rem;
  border-radius: 20px;
  color: #181818;
  font-family: PoppinsB;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.cita .icon {
  margin: 0;
  margin-right: 1rem;
  width: 30px;
  height: 30px;
}
@media (max-width: 768px) {
  .flex-taller .item-taller {
    margin: 0 0.5rem !important;
  }
  .item-taller img {
    width: 300px !important;
    height: 300px !important;
  }
  .cita {
    font-size: 15px !important;
    padding: 0.5rem 2rem !important;
  }
  .cita .icon {
    width: 45px !important;
    height: 45px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .flex-taller {
    display: block;
  }
  .flex-taller .item-taller {
    margin: 0 auto !important;
    width: 100%;
  }
  .taller p {
    width: 100%;
  }
}
section.ubicacion {
  background: linear-gradient(#fec522, #fdbe11);
  padding: 4rem 0;
}
.contenedor-ubicacion {
  position: relative;
  margin: 3rem 0;
  margin-bottom: 1rem;
}
.contenedor-ubicacion iframe {
  width: 100%;
  height: 300px;
}
.contenedor-objetivos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3rem;
}
.item-objetivo {
  height: 300px;
  width: 50%;
  background-color: #181818;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 5px;
  box-sizing: border-box;
  padding: 1rem;
}
@media (max-width: 678px) {
  .contenedor-objetivos {
    display: block;
  }
  .item-objetivo {
    width: 100%;
    margin-top: 1rem;
  }
}
.item-objetivo h3 {
  color: #fff;
  font-family: PoppinsB;
  margin-bottom: 1rem;
}
.item-objetivo p {
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 16px;
  width: 100%;
}
section.objetivo-propio {
  padding: 4rem 0;
  background-color: #181818;
}
section.objetivo-propio h2 {
  color: #fff;
}
section.objetivo-propio p {
  text-align: center;
  width: 65%;
  margin: 2rem auto;
  color: #fff;
}
.contenedor-img-propio {
  width: 220px;
  height: 220px;
  display: block;
  margin-bottom: 3rem;
}
section.objetivo-propio h3 {
  text-align: center;
  font-family: PoppinsB;
  width: 65%;
  font-size: 22px;
  margin: 2rem auto;
  color: #fff;
}
.lista-usos {
  padding: 0 !important;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
}
.lista-usos li {
  margin: 1rem 0;
  text-align: center;
}
.lista-usos .contenedor1 {
  margin: 0;
}
@media (max-width: 480px) {
  section.objetivo-propio p {
    width: 100%;
  }
  .lista-usos {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
footer {
  background: linear-gradient(#fec522, #fdbe11);
  padding: 2rem 0;
  padding-bottom: 7rem;
}
footer p {
  color: #181818;
}
footer .contenedor-sub-contacto-links a {
  color: #181818;
}
@media (max-width: 768px) {
  .lista-usos {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  footer
  {
    padding-bottom: 5rem;
  }
}
@media (max-width: 480px) {
  p.descripcion-texto {
    text-align: center;
  }
}
form.EWF__form {
  background: 0 0;
  border: 3px solid #fff;
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 0 0 transparent;
}
form.EWF__form p {
  color: #979797;
  text-align: left;
  line-height: 13px;
  font-size: 11px;
  font-family: Muli, Helvetica, Arial, "sans serif";
  font-style: normal;
  font-weight: 400;
  margin: 12px 0;
}
form.EWF__form .EWF__header {
  background: 0 0;
  padding-top: 0;
  color: #545770;
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 0;
  text-align: left;
  line-height: 26px;
  font-size: 24px;
  font-family: Nunito, Helvetica, Arial, "sans serif";
  margin: 0;
  font-style: normal;
  font-weight: 700;
}
form.EWF__form label {
  line-height: 18px;
  font-size: 16px;
  color: #545770;
  font-family: Nunito, Helvetica, Arial, "sans serif";
  text-align: left;
  display: block;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 5px;
}
form.EWF__form input {
  background: #fff;
  padding-top: 12px;
  color: #858585;
  padding-left: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  border-radius: 4px;
  line-height: 18px;
  font-size: 16px;
  font-family: Arial;
  text-align: left;
  border: 0;
  width: 100%;
  max-width: 100%;
  display: block;
  font-style: normal;
  font-weight: 400;
}
form.EWF__form input::placeholder {
  color: #858585;
  font-size: 14px;
  background: #fff;
}
form.EWF__form .EWF__subscribe {
  background: #545770;
  padding-top: 12px;
  line-height: 18px;
  font-size: 16px;
  color: #f7ecec;
  padding-left: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  border-radius: 4px;
  font-family: Arial;
  border: 0;
  display: inline-block;
  width: auto;
  max-width: 100%;
  font-style: normal;
  font-weight: 400;
}
.EWF__form .webform-options {
  text-align: left;
}
form.EWF__form .inputs > div {
  margin-bottom: 1rem;
}
form.EWF__form * {
  box-sizing: border-box;
}
form.EWF__form fieldset {
  display: block;
  padding: 0;
  margin: 0;
}
form.EWF__form .checkboxes input[type="checkbox"] {
  border: 1px solid #cfd6db;
  border-radius: 4px;
  padding: 12px;
  width: 0;
  display: inline-block;
  margin-right: 20px;
}
form.EWF__form .checkboxes input[type="checkbox"]:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Warstwa_1' x='0px' y='0px' viewBox='0 0 16 16' style='enable-background:new 0 0 16 16;' xml:space='preserve' width='16' height='16'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;%7D .st1%7Bfill:%23FFFFFF;stroke:%23CFD6DB;%7D%0A%3C/style%3E%3Cg transform='translate(-925 -324)'%3E%3Cg transform='translate(925 324)'%3E%3Cpath class='st0' d='M4,0h8c2.2,0,4,1.8,4,4v8c0,2.2-1.8,4-4,4H4c-2.2,0-4-1.8-4-4V4C0,1.8,1.8,0,4,0z'/%3E%3Cpath class='st1' d='M4,0.5h8c1.9,0,3.5,1.6,3.5,3.5v8c0,1.9-1.6,3.5-3.5,3.5H4c-1.9,0-3.5-1.6-3.5-3.5V4C0.5,2.1,2.1,0.5,4,0.5z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-color: #fff;
  width: 16px;
  height: 16px;
  content: "";
  display: block;
  cursor: pointer;
  border-radius: 4px;
}
form.EWF__form .checkboxes input[type="checkbox"]:hover:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23fff;stroke:%235457ff;stroke-width:2px;%7D.b%7Bstroke:none;%7D.c%7Bfill:none;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-925 -324)'%3E%3Cg class='a' transform='translate(925 324)'%3E%3Crect class='b' width='16' height='16' rx='4'/%3E%3Crect class='c' x='1' y='1' width='14' height='14' rx='3'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-color: #fff;
}
form.EWF__form .checkboxes input[type="checkbox"]:checked:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Warstwa_1' x='0px' y='0px' viewBox='0 0 16 16' style='enable-background:new 0 0 16 16;' xml:space='preserve' width='16' height='16'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;%7D .st1%7Bfill:%23FFFFFF;stroke:%235457FF;%7D .st2%7Bfill:%2332325C;%7D%0A%3C/style%3E%3Cg transform='translate(-925 -324)'%3E%3Cg transform='translate(925 324)'%3E%3Cpath class='st0' d='M4,0h8c2.2,0,4,1.8,4,4v8c0,2.2-1.8,4-4,4H4c-2.2,0-4-1.8-4-4V4C0,1.8,1.8,0,4,0z'/%3E%3Cpath class='st1' d='M4,0.5h8c1.9,0,3.5,1.6,3.5,3.5v8c0,1.9-1.6,3.5-3.5,3.5H4c-1.9,0-3.5-1.6-3.5-3.5V4C0.5,2.1,2.1,0.5,4,0.5z'/%3E%3C/g%3E%3Cpath class='st2' d='M938,328.9l-0.8-0.8c-0.1-0.1-0.1-0.1-0.2,0c0,0,0,0,0,0l-5.6,5.9l-2.3-2.4c-0.1-0.1-0.1-0.1-0.2,0 c0,0,0,0,0,0l-0.8,0.8c-0.1,0.1-0.1,0.2,0,0.2l3.2,3.3c0.1,0.1,0.1,0.1,0.2,0c0,0,0,0,0,0l6.5-6.9C938,329,938,328.9,938,328.9z'/%3E%3C/g%3E%3C/svg%3E");
  background-color: #fff;
}
form.EWF__form .checkboxes input[type="checkbox"]:hover:checked:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23fff;stroke:%235457ff;stroke-width:2px;%7D.b%7Bfill:%2332325c;%7D.c%7Bstroke:none;%7D.d%7Bfill:none;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-925 -324)'%3E%3Cg class='a' transform='translate(925 324)'%3E%3Crect class='c' width='16' height='16' rx='4'/%3E%3Crect class='d' x='1' y='1' width='14' height='14' rx='3'/%3E%3C/g%3E%3Cpath class='b' d='M10.032.964,9.224.118a.141.141,0,0,0-.2,0L3.384,6.02,1.124,3.653a.141.141,0,0,0-.2,0L.116,4.5a.157.157,0,0,0,0,.212L3.284,8.032a.141.141,0,0,0,.2,0l6.545-6.855A.153.153,0,0,0,10.032.964Z' transform='translate(927.925 327.925)'/%3E%3C/g%3E%3C/svg%3E");
  background-color: #fff;
}
form.EWF__form .EWF__error {
  color: red;
  padding-top: 10px;
}
form.EWF__form a {
  color: #5457ff;
  font-style: normal;
  line-height: 14px;
  font-size: 12px;
  font-weight: 400;
}
@supports (-ms-ime-align: auto) {
  form.EWF__form .checkboxes input[type="checkbox"],
  form.EWF__form .consent input[type="checkbox"] {
    width: 16px !important;
    margin-right: 5px;
  }
}

.w-static
{
  width: 250px;
}
.botonesflotantes
{
    position: fixed;
    bottom: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.botonesflotantes a
{
    width: 160px;
    margin: 0;
}
.botonesflotantes a:last-child
{
    width: 180px;
}
.iconfloa
{
    margin-bottom: 1rem;
}
@media (max-width: 480px )
{
.botonesflotantes a
{
    width: 130px;
    margin: 0;
}
.botonesflotantes a:last-child
{
    width: 150px;
}
} 


.botonw {
  width: 430px;
  height: auto;
  padding: 15px 5px;
  position: fixed;
  z-index: 10;
  bottom: 2.5%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  left: 0;
  right: 0;
  border-radius: 5px;
  justify-content: center;
  grid-template-columns: repeat(5,1fr);
  background-color: #fff;
}
.botonw__item .item__img
{
  width: 30px;
  height: 30px;
}
.botonw__item .item__name
{
  font-size: 12px;
  margin: 4px 0;
}
.item__container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px)
{
  .botonw {
    padding: 0;
    border-radius: 0;
    width: 100%;
    bottom: 0px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.9);
    height: 60px;
    position: fixed;
    z-index: 10000;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(5,1fr);
  }
  .botonw .botonw__item
  {
    margin: initial;
    border-right: 2px solid #fdbe11;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .botonw .botonw__item:last-of-type
  {
    border-right: 0;
  }
  .botonw__item .item__container
  {
    border-radius: inherit;
    text-decoration: none;
    
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .botonw__item .item__img
  {
    width: 21px ;
    height: 21px ;
  }
  .botonw__item .item__name
  {
    font-size: 10.5px;
    margin: 2px 0;
    color: #181818;
    font-weight: bold;
  }
}

